@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated )
{
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Tasks
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("1a. Submit Point Of Connection (POC) Request", "Create", "POCREQUEST", routeValues: null, htmlAttributes: new { CompanyId = "138" })</li>
        <li>@Html.ActionLink("1b. Submit New Project Request", "Create", "PROJREQUEST", routeValues: null, htmlAttributes: new { CompanyId = "138" })</li>
        <li>@Html.ActionLink("1c. Submit Plan Review Request", "Create", "PRREQUEST", routeValues: null, htmlAttributes: new { CompanyId = "138" })</li>
        <li>@Html.ActionLink("1d. Submit Inspection Request", "Create", "INSPREQUEST", routeValues: null, htmlAttributes: new { CompanyId = "138" })</li>
        <li>@Html.ActionLink("2.  View Status of Requests", "Index", "POCREQUEST", routeValues: null, htmlAttributes: new { CompanyId = "138" })</li>
        <li>@Html.ActionLink("3.  View Company Profile", "Details", "Companies", routeValues: new { id = 138 }, htmlAttributes: new { CompanyId = "138" })</li>
        <li>@Html.ActionLink("4.  Change Password", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { CompanyId = "138" })</li>
        @if (Request.IsAuthenticated && (User.IsInRole("PartnerAdmin") || User.IsInRole("PortalAdmin")))
        {
            @Html.Partial("_BPAdminTasks")
        }
        @if (Request.IsAuthenticated && User.IsInRole("PortalAdmin"))
        {
            @Html.Partial("_PPAdminTasks")
        }
        
    </ul>
</li>
}



        